{% extends "card.html" %}
{% load widget_tweaks %}

{% block card_title %}

    <div class="d-flex py-3 justify-content-between">
        {% if object %}
            <h3 class="m-2 text-muted">Modificar tarea</h3>
            <h3 class="m-2 text-muted">N&deg; {{ object.pk }}</h3>
        {% else %}
            <h3 class="m-2 text-muted">Nueva tarea</h3>
        {% endif %}
    </div>

{% endblock card_title %}

{% block card_body %}

    {% with WIDGET_ERROR_CLASS="is-invalid" %}
        <form method="post" autocomplete="off" novalidate id="task_form">
            {% csrf_token %}

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.start_date.label_tag }}</span>
                        {% render_field form.start_date %}
                        <div class="invalid-feedback">
                            {{ form.start_date.errors|first }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.priority.label_tag }}</span>
                        {% render_field form.priority class="form-select" %}
                    </div>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text fw-bold">Descripción</span>
                        {% render_field form.description class="form-control" %}
                        <div class="invalid-feedback">
                            {{ form.description.errors|first }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.operator.label_tag }}</span>
                        {% render_field form.operator class="form-select" %}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.hiring.label_tag }}</span>
                        {% if form.instance.hiring %}
                            {% render_field form.hiring class="form-select" readonly="" %}
                        {% else %}
                            {% render_field form.hiring class="form-select" %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row gx-2 pt-2">
                {% include "go_back_button.html" %}
                {% include "save_button.html" %}
            </div>
        </form>

    {% endwith %}

{% endblock card_body %}
