{% extends 'card.html' %}
{% load static extra_tags %}

{% block list_body %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="dark">
                    <td scope="col" class="text-center">Código</td>
                    <td scope="col">Nombre o razón social</td>
                    <td scope="col" class="text-center">Tipo y número de ID</td>
                    <td scope="col" class="text-center">Domicilio</td>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td class="text-center">{{ object.id }}</td>
                        <td>
                            <a href="{% url model|add:'_update' object.id %}" class="text-decoration-none">{{ object.name }}</a>
                        </td>
                        <td class="text-center">{{ object.identification_type }} {{ object.identification_number }}</td>
                        <td>
                            {% if object.address %}
                                {{ object.address }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock list_body %}
