{% extends "card.html" %}
{% load static widget_tweaks %}

{% block card_title %}

    <div class="d-flex py-3 justify-content-between">
        {% if object %}
            <h3 class="m-2 text-muted">Modificar contratación</h3>
            <h3 class="m-2 text-muted">N&deg; {{ object.pk }}</h3>
        {% else %}
            <h3 class="m-2 text-muted">Nueva contratación</h3>
        {% endif %}
    </div>

{% endblock card_title %}

{% block card_body %}

    {% with WIDGET_ERROR_CLASS="is-invalid" %}
        {% if not object %}
            <form method="get" autocomplete="off" novalidate>
                <div class="row gx-2">
                    <div class="col-sm">
                        <div class="input-group pb-2">
                            <span class="input-group-text">{{ form.customer.label_tag }}</span>
                            {% render_field form.customer class="form-select rounded-end" onchange="this.form.submit()" %}
                            <div class="invalid-feedback">
                                {{ form.customer.errors|first }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group pb-2">
                            <span class="input-group-text">{{ form.budget.label_tag }}</span>
                            {% render_field form.budget class="form-select" data-bs-toggle="tooltip" data-bs-title="Seleccionar si la contratación proviene de un presupuesto." onchange="this.form.submit()" %}
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}

        <form method="post" autocomplete="off" novalidate id="hiring_form" data-model="hiring">
            {% csrf_token %}

            {% if object %}
                <div class="row gx-2">
                    <div class="col-sm">
                        <div class="input-group pb-2">
                            <span class="input-group-text">{{ form.customer.label_tag }}</span>
                            {% render_field form.customer class="form-control rounded-end" readonly="true" %}
                            <div class="invalid-feedback">
                                {{ form.customer.errors|first }}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% render_field form.customer class="visually-hidden" %}
            {% endif %}
            {% render_field form.budget class="visually-hidden" %}

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.start_date.label_tag }}</span>
                        {% render_field form.start_date class="form-control rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.start_date.errors|first }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.end_date.label_tag }}</span>
                        {% render_field form.end_date class="form-control rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.end_date.errors|first }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm {% if not object %}visually-hidden{% endif %}">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.status.label_tag }}</span>
                        {% render_field form.status class="form-control rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.status.errors|first }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.address.label_tag }}</span>
                        {% render_field form.address class="form-control" readonly="true" %}
                        <button type="button" class="btn btn-outline-secondary rounded-end" onclick="renderMap()">
                            <i class="bi bi-search"></i>
                        </button>
                        <div class="invalid-feedback">
                            {{ form.address.errors|first }}
                        </div>
                    </div>
                </div>
                {% render_field form.lat class="visually-hidden" %}
                {% render_field form.lng class="visually-hidden" %}
            </div>

            <div class="row gx-2 mt-2">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless align-middle">
                            <thead class="align-middle">
                                <tr class="dark">
                                    <td scope="col" class="text-center"></td>
                                    <td scope="col" class="text-center" style="width: 60%;">Servicio</td>
                                    <td scope="col" class="text-center">Cantidad</td>
                                </tr>
                            </thead>
                            <tbody id="services-table">
                                {% for form in service_formset %}
                                    <tr>
                                        <td class="align-middle text-center">
                                            {% if form.instance.id %}
                                                <a href="{% url 'service_delete' model form.instance.id %}"
                                                class="text-danger close" data-bs-toggle="tooltip" data-bs-title="Eliminar">
                                                    <i class="bi bi-x-circle"></i>
                                                </a>
                                            {% else %}
                                                <i class="bi bi-x-circle text-muted"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% render_field form.service_type %}
                                            <div class="invalid-feedback">
                                                {{ form.service_type.errors|first }}
                                            </div>
                                        </td>
                                        <td>
                                            {% render_field form.amount %}
                                            <div class="invalid-feedback">
                                                {{ form.amount.errors|first }}
                                            </div>
                                        </td>
                                        {{ form.id }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row gx-2 justify-content-center mb-3">
                <div class="col-auto">
                    <a class="btn btn-outline-primary" onclick="addService()">
                        <i class="bi bi-plus-lg me-2"></i>Agregar servicio
                    </a>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.notes.label_tag }}</span>
                        {% render_field form.notes class="form-control" rows="auto" placeholder="Condiciones particulares del domicilio u otras aclaraciones." %}
                    </div>
                </div>
            </div>

            {{ service_formset.management_form }}

            <div id="empty-service-formset" class="visually-hidden">
                {{ service_formset.empty_form }}
            </div>

            <div class="row gx-2 pt-2">
                {% include "go_back_button.html" %}
                {% include "save_button.html" %}
            </div>
        </form>

    {% endwith %}

    <script src="{% static 'income/js/invoice_form.js' %}"></script>
    <script src="{% static 'main/js/tooltips.js' %}"></script>

{% endblock card_body %}
