{% load static widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

<form hx-post="{{ request.path }}" novalidate autocomplete="off">
    {% csrf_token %}
    {% if not object %}
        <div class="row gx-2">
            <div class="col-sm">
                {{ form.budget.label_tag }}
                {% render_field form.budget class="form-select" hx-get="/hiring/create/" %}
                <div class="invalid-feedback">
                    {{ form.budget.errors|first }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row gx-2 justify-content-between">
        {% if object %}
            <div class="col-sm">
                <label class="text-muted m-2" for="id_id">Número</label>
                <input type="text" name="id" value="{{ object.id }}" id="id_id" readonly class="form-control">
            </div>
        {% endif %}
        {% if not model == "hiring" %}
            <div class="col-sm">
                {{ form.issue_date.label_tag }}
                {% render_field form.issue_date class="form-control" readonly="" %}
                <div class="invalid-feedback">
                    {{ form.issue_date.errors|first }}
                </div>
            </div>
            <div class="col-sm">
                {{ form.sale_term.label_tag }}
                {% render_field form.sale_term class="form-select" %}
                <div class="invalid-feedback">
                    {{ form.sale_term.errors|first }}
                </div>
            </div>
            <div class="col-sm">
                {{ form.due_date.label_tag }}
                {% render_field form.due_date class="form-control" %}
                <div class="invalid-feedback">
                    {{ form.due_date.errors|first }}
                </div>
            </div>
        {% else %}
            <div class="col-sm">
                {{ form.start_date.label_tag }}
                {% render_field form.start_date class="form-control" %}
                <div class="invalid-feedback">
                    {{ form.start_date.errors|first }}
                </div>
            </div>
            <div class="col-sm">
                {{ form.end_date.label_tag }}
                {% render_field form.end_date class="form-control" %}
                <div class="invalid-feedback">
                    {{ form.end_date.errors|first }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row gx-2 align-items-end">
        <div class="col-sm">
            {{ form.customer.label_tag }}
            {% render_field form.customer class="form-select" %}
            <div class="invalid-feedback">
                {{ form.customer.errors|first }}
            </div>
        </div>
        {% if not object %}
            <div class="d-grid col-sm-2 text-center mt-3">
                <button type="button" class="btn btn-outline-primary" hx-get="{% url 'receipt_customer_create' %}" hx-target="#dialog">
                    <i class="bi bi-plus-lg me-2"></i>Nuevo cliente
                </button>
            </div>
        {% endif %}
    </div>
    <div class="row gx-2">
        <div class="col-sm-8">
            {{ form.address.label_tag }}
            <div class="input-group">
                {% render_field form.address class="form-control" readonly="" %}
                <a class="btn btn-outline-secondary"
                onclick="window.open(`{% url 'render_map' %}`, 'newwindow', 'width=700, height=450'); return false">
                    <i class="bi bi-search"></i>
                </a>
            </div>
        </div>
        <div class="col-sm">
            {{ form.phone_number.label_tag }}
            {% render_field form.phone_number class="form-control" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Código de area sin 0 y número sin 15." %}
            <div class="invalid-feedback">
                {{ form.phone_number.errors|first }}
            </div>
        </div>
    </div>

    {% if not model == "hiring" %}
        <div class="row gx-2 mt-3">
            <div class="col-sm">
                <div class="table-responsive">
                    <table class="table mt-3">
                        <thead>
                            <tr class="dark">
                                <td scope="col" class="text-center" style="width: 60%;">Servicio</td>
                                <td scope="col" class="text-center">Cantidad</td>
                                <td scope="col" class="text-center">Unitario</th>
                                <td scope="col" class="text-center">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody id="service-table">
                            {% if service_list %}
                                {% for service in service_list %}
                                    <div hx-get="{% url 'service_update' service.pk %}" hx-trigger="load" hx-target="#service-table" hx-swap="beforeend"></div>
                                {% endfor %}
                            {% else %}
                                <div hx-get="{% url 'service_create' %}" hx-trigger="load" hx-target="#service-table" hx-swap="beforeend"></div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row gx-2 text-center justify-content-center m-2">
            <div class="col-sm">
                <button class="btn btn-outline-primary" hx-get="{% url 'service_create' %}" hx-target="#service-table" hx-swap="beforeend">
                    <i class="bi bi-plus-lg me-2"></i>Agregar servicio
                </button>
            </div>
        </div>

        <div class="row gx-4">
            <div class="col-sm-6">
                {{ form.notes.label_tag }}
                {% render_field form.notes class="form-control" rows="4" placeholder="Piso, número de departamento u otras aclaraciones." %}
            </div>
            <div class="col-sm">
                <div class="row gx-2 mt-2 pt-2">
                    <div class="col-sm text-muted my-auto">
                        <span class="ms-2">Subtotal</span>
                    </div>
                    <div class="col-sm">
                        {% render_field form.subtotal class="form-control text-center" readonly="" %}
                        <div class="invalid-feedback">
                            {{ form.subtotal.errors|first }}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="ms-2 text-muted" for="id_taxes">
                        Impuestos
                        <a href="#" hx-get="{% url 'tax_create' %}" hx-target="#tax-list" hx-swap="beforeend"
                        data-bs-toggle="tooltip" data-bs-title="Agregar impuesto" class="plus">
                            <i class="bi bi-plus-circle ms-2"></i>
                        </a>
                    </label>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-1">
                        <tbody id="tax-list">
                            {% if tax_list %}
                                {% for tax in tax_list %}
                                    <div hx-get="{% url 'tax_update' tax.pk %}" hx-trigger="load" hx-target="#tax-list" hx-swap="beforeend"></div>
                                {% endfor %}
                            {% else %}
                                <div hx-get="{% url 'tax_create' %}" hx-trigger="load" hx-target="#tax-list" hx-swap="beforeend"></div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="row gx-2 border-top pt-2">
                    <div class="col-sm text-muted my-auto fw-bold">
                        <span class="ms-2">Total</span>
                    </div>
                    <div class="col-sm">
                        {% render_field form.total class="form-control text-center" readonly="" %}
                        <div class="invalid-feedback">
                            {{ form.total.errors|first }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row gx-2 mt-3">
            <div class="col-sm">
                <div class="table-responsive">
                    <table class="table mt-3">
                        <thead>
                            <tr class="dark">
                                <td scope="col" class="text-center" style="width: 40%;">Descripción</td>
                                <td scope="col" class="text-center">Frecuencia</td>
                                <td scope="col" class="text-center">Operario</th>
                                <td scope="col" class="text-center">Prioridad</th>
                            </tr>
                        </thead>
                        <tbody id="task-table">
                            {% if task_list %}
                                {% for task in task_list %}
                                    <div hx-get="{% url 'task_inline_update' task.pk %}" hx-trigger="load" hx-target="#task-table" hx-swap="beforeend"></div>
                                {% endfor %}
                            {% else %}
                                <div hx-get="{% url 'task_inline_create' %}" hx-trigger="load" hx-target="#task-table" hx-swap="beforeend"></div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row gx-2 text-center justify-content-center m-2">
            <div class="col-sm">
                <button class="btn btn-outline-primary" hx-get="{% url 'task_inline_create' %}" hx-target="#task-table" hx-swap="beforeend">
                    <i class="bi bi-plus-lg me-2"></i>Agregar tarea
                </button>
            </div>
        </div>

        {% render_field form.is_clean class="visually-hidden" %}
        {% render_field form.is_placed class="visually-hidden" %}
        {% render_field form.notes class="visually-hidden" %}
    {% endif %}


    {% render_field form.location class="visually-hidden" %}
    <p class="m-2">Todos los campos marcados con <span class="required-field">*</span> son requeridos.</p>

    <div class="row gx-2 text-center justify-content-center m-2">
        <div class="col-sm">
            <a href="{% url model|add:'_index' %}" class="btn btn-outline-secondary m-1">
                <i class="bi bi-arrow-return-left me-2"></i>Volver
            </a>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-check2 me-2"></i>Guardar
            </button>
        </div>
    </div>
</form>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<script src="{% static 'income/js/form.js' %}"></script>
<script src="{% static 'main/js/modal.js' %}"></script>
<script src="{% static 'main/js/tooltips.js' %}"></script>

{% endwith %}
