{% load static %}

{% for capitulo in capitulo_list %}
    {{ capitulo }}<br>
    {% for rubro in rubro_list %}
        {% if rubro.capitulo == capitulo %}
            - - {{ rubro }}<br>
            {% for subrubro in subrubro_list %}
                {% if subrubro.rubro == rubro %}
                    - - - - {{ subrubro }}<br>
                    {% for cuenta in cuenta_list %}
                        {% if cuenta.subrubro == subrubro %}
                            - - - - - - {{ cuenta.name }}<br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<script src="{% static 'main/js/tooltips.js' %}"></script>
