{% extends "card.html" %}
{% load widget_tweaks %}

{% block card_title %}

    <div class="d-flex py-3 justify-content-between">
        {% if object %}
            <h3 class="m-2 text-muted">Modificar tipo de impuesto</h3>
            <h3 class="m-2 text-muted">N&deg; {{ object.pk }}</h3>
        {% else %}
            <h3 class="m-2 text-muted">Nuevo tipo de impuesto</h3>
        {% endif %}
    </div>

{% endblock card_title %}

{% block card_body %}

    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form method="post" autocomplete="off" novalidate id="taxtype_form">
            {% csrf_token %}

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.name.label_tag }}</span>
                        {% render_field form.name class="form-control rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.name.errors|first }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.percentage.label_tag }}</span>
                        {% render_field form.percentage class="form-control rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.percentage.errors|first }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.cuenta_activo.label_tag }}</span>
                        {% render_field form.cuenta_activo class="form-select rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.cuenta_activo.errors|first }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group pb-2">
                        <span class="input-group-text">{{ form.cuenta_pasivo.label_tag }}</span>
                        {% render_field form.cuenta_pasivo class="form-select rounded-end" %}
                        <div class="invalid-feedback">
                            {{ form.cuenta_pasivo.errors|first }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-2 pt-2">
                {% include "go_back_button.html" %}
                {% include "save_button.html" %}
            </div>
        </form>

    {% endwith %}

{% endblock card_body %}
