{% extends 'card.html' %}
{% load static extra_tags %}

{% block card_body %}

    <div class="row gx-2">
        <div class="col-sm">
            <label class="m-2" for="id_id">ID N&deg;</label>
            <p class="fw-bold m-2">{{ object.id }}</p>
        </div>
        <div class="col-sm">
            <label class="m-2" for="id_reference_code">Código de referencia</label>
            <p class="fw-bold m-2">{{ object.reference_code }}</p>
        </div>
        <div class="col-sm">
            <label class="m-2" for="id_category">Categoría</label>
            <p class="fw-bold m-2">
                {% if object.category %}
                    {{ object.category }}
                {% else %}
                    -
                {% endif %}
            </p>
        </div>
        <div class="col-sm">
            <label class="m-2" for="id_cuenta">Cuenta contable</label>
            <p class="fw-bold m-2">{{ object.cuenta }}</p>
        </div>
    </div>

    <div class="row gx-2 align-items-end">
        <div class="col-sm">
            <label class="m-2" for="id_name">Nombre</label>
            <p class="fw-bold m-2">{{ object.name }}</p>
        </div>
        <div class="col-sm-3">
            <label class="m-2" for="id_measurement_unit">Unidad de medida</label>
            <p class="fw-bold m-2">{{ object.get_measurement_unit_display }}</p>
        </div>
        <div class="col-sm-2 text-center">
            <i
            {% if object.is_active %}
                class="bi bi-check-circle-fill" style="color: var(--bs-success);"
            {% else %}
                class="bi bi-x-circle-fill" style="color: var(--bs-danger);"
            {% endif %}
            ></i>
            <label class="m-2 align-middle" for="id_is_active">Activo</label>
        </div>
    </div>

    <div class="row gx-3">
        <div class="col-sm-6">
            <label class="m-2" for="id_description">Descripción</label>
            <p class="fw-bold m-2">
                {% if object.description %}
                    {{ object.description }}
                {% else %}
                    -
                {% endif %}
            </p>
        </div>
    </div>

    <br>

    <div class="row gx-2 text-center justify-content-center">
        <div class="col-sm">
            <a href="{% url model|add:'_list' %}" class="btn btn-outline-secondary m-1">
                <i class="bi bi-arrow-return-left me-2"></i>Volver
            </a>
            <a href="{% url model|add:'_update' object.id %}" class="btn btn-outline-primary m-1">
                <i class="bi bi-pencil me-2"></i>Editar
            </a>
        </div>
    </div>

{% endblock card_body %}
