{% extends "card.html" %}

{% block card_body %}

    <div class="table-responsive">
        <table class="table table-striped align-middle">
            {% if page_obj %}
                <thead class="align-middle">
                    <tr class="dark">
                        <td scope="col" class="text-center">ID</td>
                        <td scope="col">Descripción</td>
                        <td scope="col" class="text-center">Estado</td>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page_obj %}
                        <tr>
                            <td class="text-center">
                                {{ object.pk }}
                            </td>
                            <td>
                                <a href="{{ object.get_absolute_url }}" class="text-decoration-none">
                                    {{ object }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if object.is_active %}
                                    <span class="fw-bold text-success">Activo</span>
                                {% else %}
                                    <span class="fw-bold text-danger">Inactivo</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-2"></i>
                    Todavía no se creó un servicio. Podés empezar haciendo click <a
                    href="{% url 'servicetype_create' %}" class="text-decoration-none">acá</a>.
                </p>
            {% endif %}
        </table>
    </div>

    {% include "pagination.html" %}

{% endblock card_body %}
