{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

    <form hx-post="{{ request.path }}" class="modal-content" novalidate autocomplete="off">
        <div class="modal-header">
            <h1 class="fw-bold modal-title fs-5">
                {% if stock %}
                    Modificar
                {% else %}
                    Nuevo
                {% endif %}
                    stock
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.product.label_tag }}
                    {% render_field form.product class="form-control" %}
                    <div class="invalid-feedback">
                        {{ form.product.errors|first }}
                    </div>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.cuenta.label_tag }}
                    {% render_field form.cuenta class="form-select" %}
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.warehouse.label_tag }}
                    {% render_field form.warehouse class="form-select" %}
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.amount.label_tag }}
                    {% render_field form.amount class="form-control" step="1" min="0" %}
                    <div class="invalid-feedback">
                        {{ form.amount.errors|first }}
                    </div>
                </div>
            </div>
            <p class="m-2">Todos los campos marcados con <span class="required-field">*</span> son requeridos.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary m-1" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-success m-1">
                <i class="bi bi-check2 me-2"></i>Guardar
            </button>
        </div>
    </form>

{% endwith %}
