{% load static widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

    <form hx-post="{{ request.path }}" class="modal-content" novalidate autocomplete="off">
        <div class="modal-header">
            <h1 class="fw-bold modal-title fs-5">
                {% if warehouse %}
                    Modificar
                {% else %}
                    Nuevo
                {% endif %}
                    depósito
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.name.label_tag }}
                    {% render_field form.name class="form-control" %}
                    <div class="invalid-feedback">
                        {{ form.name.errors|first }}
                    </div>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.address.label_tag }}
                    {% render_field form.address class="form-control" %}
                    <div class="invalid-feedback">
                        {{ form.address.errors|first }}
                    </div>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-sm">
                    {{ form.notes.label_tag }}
                    {% render_field form.notes class="form-control" placeholder="Piso, número de departamento u otras aclaraciones." %}
                </div>
            </div>
            <p class="m-2">Todos los campos marcados con <span class="required-field">*</span> son requeridos.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary m-1" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-success m-1">
                <i class="bi bi-check2 me-2"></i>Guardar
            </button>
        </div>
    </form>

    <script src="{% static 'main/js/tooltips.js' %}"></script>

{% endwith %}
