{% extends 'card.html' %}
{% load static %}

{% block card_body %}

<div class="table-responsive">
    <table class="table">
        {% if object_list %}
            <thead>
                <tr class="dark">
                    <td scope="col">Número</td>
                    <td scope="col">Proveedor</td>
                    <td scope="col">Fecha de emisión</td>
                    <td scope="col" class="text-center" style="width: 10%;">Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>
                            <a href="{% url 'supplier_detail' object.supplier.pk %}"
                            class="text-decoration-none">
                                {{ object.supplier }}
                            </a>
                        </td>
                        <td>{{ object.issue_date|date:'SHORT_DATE_FORMAT' }}</td>
                        <td class="text-center">
                            {% include "detail_action.html" %}
                            {% include "update_action.html" %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <p class="m-2">
                <i class="bi bi-exclamation-circle me-2"></i>
                Todavía no se creó una orden de compra. Podés empezar haciendo click <a
                href="{% url 'purchaseorder_create' %}" class="text-decoration-none">acá</a>.
            </p>
        {% endif %}
    </table>
</div>

<script src="{% static 'main/js/tooltips.js' %}"></script>

{% endblock card_body %}
