<!DOCTYPE html>
<html lang="en">

<head>

    {# Required meta tags #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'bootstrap.html' %}

    {% include 'navbar.html' %}

    {% include 'title.html' %}

</head>

<body class="d-flex flex-column min-vh-100">

    {% include 'messages.html' %}

    <div class="container-xxl">

        {% block content %}
        {% endblock content %}

    </div>

    {% include 'footer.html' %}

</body>

</html>
