{% load static extra_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'bootstrap.html' %}

        {% include 'navbar.html' %}

        <title>Cosmos | {{ app|to_spanish|title }}</title>

        <link rel="stylesheet" href="{% static 'main/css/global.css' %}">

    </head>

    <body class="d-flex flex-column min-vh-100" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>

        <div id="messages"></div>

        <div class="container-xxl">

            {% block content %}
            {% endblock content %}

        </div>

        {% include 'footer.html' %}

        <script src="{% static 'main/js/alert.js' %}"></script>

    </body>

</html>
