{% extends 'base.html' %}
{% load static extra_tags %}

{% block content %}

    <div class="d-flex gx-2 py-3 justify-content-between">
        {% block card_title %}
        {% endblock card_title %}
    </div>

    <div class="row gx-2 py-0">
        <div class="col-sm">
            {% if search_text %}
                {% include 'search_form.html' %}
            {% else %}
                <div class="flex-grow-1 border-bottom"></div>
            {% endif %}
            {% if search_input and not object_list.exists %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-1"></i>
                    No existen coincidencias para la búsqueda realizada. <span id="clean-search" class="text-decoration-underline text-primary">Limpiar búsqueda</span>.
                </p>
            {% elif filter_options and not object_list.exists %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-1"></i>
                    No existen coincidencias para la búsqueda realizada. <span id="clean-search" class="text-decoration-underline text-primary">Limpiar búsqueda</span>.
                </p>
            {% else %}
                {% block card_body %}
                {% endblock card_body %}
            {% endif %}
        </div>

        {% if filter_options %}
            {% include 'filters.html' %}
        {% endif %}
    </div>

{% endblock content %}
