{% load extra_tags %}

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="fw-bold modal-title fs-5" id="deleteModalLabel">
                    Eliminar {{ model|to_spanish }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                Estás seguro de eliminar?
                <li><strong>{{ object }}</strong></li>
                Esta acción <strong>NO</strong> puede deshacerse.
            </div>
            <div class="modal-footer">
                <form action="{% url model|add:'_delete' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-outline-secondary me-1"
                    data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="bi bi-trash3 me-2"></i>Confirmar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
