{# Success and error messages. #}

{% if messages %}
    {% for message in messages %}
        <div class="container-xxl mt-1">
            <div class="alert alert-{% if message.tags == 'warning' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="container-xxl mt-1">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="container-xxl mt-1">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    {% endfor %}
{% endif %}
