#calendar th {
    height: 3rem;
    width: 5rem;
    text-align: center;
}

#calendar td {
    height: 5rem;
    width: 5rem;
    text-align: start;
}

#calendar td.selected {
    background-color: blue;
}
